fieldset {
    width: 450px;
    margin: auto;
}

fieldset label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}
  
#balance {
    width: 300px;
    height: 70px;
    z-index: 1;
    position: relative;
    background-image: url("../img/balance.png");
}
  
#aiguille {
    width: 4px;
    height: 70px;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0 px;
    background-color: black;
}
  
#silhouette {
    width: 105px;
    height: 230px;
    background-image: url(../img/IMC-homme.jpg);
    background-position: -210px;
}